<header>
  <div class="title">LANDMARK&nbsp;DEVELOPER</div>
  <nav>
    <a href="/" class="item active">HOME</a>
    <a href="/gallery" class="item">GALLERY</a>
    <a href="/contact" class="item">CONTACT US</a>
    <a href="/about" class="item">ABOUT US</a>
  </nav>
</header>