<header>
  <div class="title">LANDMARK SOCIETY</div>
  <nav>
    <a href="#" class="item active">HOME</a>
    <a href="#" class="item">CONTACT US</a>
    <a href="#" class="item">ABOUT US</a>
  </nav>
</header>