  <nav>
    <%= link_to 'HOME', root_path, class: header_nav_classes('index') %>
    <%= link_to 'GALLERY', gallery_path, class: header_nav_classes('gallery') %>
    <%= link_to 'CONTACT US', contact_path, class: header_nav_classes('contact') %>
    <%= link_to 'ABOUT US', about_path, class: header_nav_classes('about') %>
  </nav> 