<div class="about-info-container">
  <div class="about-info-right">
    <div class="about-info-image">
      <%= image_tag('/images/certificate.jpg', class: 'certificate') %>
    </div>
    <div class="about-info-text">
      Landmark Developer is Firm registered with Jharkhand Government, under section 58(1) of the Indian Partnership Act, 1932
    </div>
  </div><%  %>
  <div class="about-info-left">
    <div class="about-info-image">
      <%= image_tag('/images/img1.jpg') %>
    </div>
    <div class="about-info-text">
      we have developed luxary duplex in dhanbad with all amenities like park, temple, kids play zone area, 25 feet main road, 20 feet branch road in karmatand, dhanbad
    </div>
  </div>
  <div class="about-info-right">
    <div class="about-info-image">
      <%= image_tag('/images/img2.jpg') %>
    </div>
    <div class="about-info-text">
      Specially we have build 3BHK and 4BHK Duplex and 5 BHK Villa in Karmatand, near about Hirapur, Bigbazaar, steal gate etc
    </div>
  </div>
</div>