<div class="subtitle">GALLERY</div>
<% if @photographs.present? %>
  <div class="gallery">
    <% @photographs.each do |photograph| %>
      <div class="gallery-item">
        <%= image_tag(photograph.photo.url(:medium)) %>
      </div>
    <% end %>
  </div>
<% end %>