<p id="notice"><%= notice %></p>

<p>
  <strong>Caption:</strong>
  <%= @admin_photograph.caption %>
</p>

<%= link_to 'Edit', edit_admin_photograph_path(@admin_photograph) %> |
<%= link_to 'Back', admin_photographs_path %>
