/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
*/

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.site-container {
  margin: 0;
  padding: 0;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'header'
    'content'
    'footer'
  ;
}

header {
  display: flex;
  grid-area: 'header';
  flex-direction: row;
}

header .title {
  font-size: 30px;
  padding: 5px 10px;
  width: 40%;
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 60%;
}

header nav .item {
  box-sizing: border-box;
  padding: 10px 20px;
  text-decoration: none;
  color: black;
  transition: 1s ease;
  border-radius: 3px;
}

header nav .item:hover {
  color: white;
  background-color: aqua;
  transition: 0.15s ease;
}

header nav .active {
  color: black;
  background-color: aqua;
}

header nav .active:hover {
  color: black;
  background-color: aqua;
}

.main-content {
  grid-area: 'content';
}

footer {
  display: flex;
  grid-area: 'footer';
}
