// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'palette';

.notifications {
  padding: 10px 5px 0px 5px;
  font-size: 1em
}

.home-content {
  display: flex;
  flex-direction: row;
  padding: 1px 0;
  box-sizing: border-box;
  background-image: $gradient-bottom;
  flex-wrap: wrap;
}

.left-home-content {
  position: relative;
  padding: 0 3em 0 3em;
  width: 60%;
  box-sizing: border-box;
}

.right-home-content {
  position: relative;
  width: 40%;
  box-sizing: border-box;
}

// #region inside carousel
.carousel-container {
  position: relative;
}

.carousel {
  width: 100%;
  height: 425px;
  position: relative;
}

.carousel img {
  width: auto;
  height: 100%;
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
}

.carousel-container .unit-nav {
  cursor: pointer;
  position: absolute;
  top: 45%;
  width: auto;
  padding: 20px 10px;
  color: $light-base-color;
  font-weight: bold;
  font-size: 1em;
  transition: 0.5s ease;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.35);
}

.carousel-container .prev {
  left: 0;
  border-radius: 0px 6px 6px 0;
}

.carousel-container .next {
  right: 0;
  border-radius: 6px 0 0 6px;
}

.carousel-container .prev:hover, .carousel-container .next:hover {
  background-color: rgba(0, 0, 0, 0.75);
}

.carousel-dots {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

}

.carousel-dots .dot {
  background-color: rgba(0, 0, 0, 0.5);
  display: inline-block;
  cursor: pointer;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin: 3px 4px;
  transition: 0.6s ease;
}

.carousel-dots .active, .carousel-dots .dot:hover {
  background-color: rgba(0, 0, 0, 0.75);
}

.carousel .caption-container {
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 0;
  right: 0;
}

.carousel .caption-container .caption {
  background-color: rgba(0, 0, 0, 0.75);
  display: inline-block;
  box-sizing: border-box;
  padding: 4px 25px;
  color: $light-base-color;
  border-radius: 6px 6px 0 0;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
// #endregion

// #region inside contact
.contact-container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  form {
    background-color: $light-base-color;
    display: block;
    width: 80%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 10px 2em;
    .text-field-container {
      width: 100%;
      margin-bottom: 12px;
      .text-field {
        width: 100%;
        font-size: 1.5em;
        box-sizing: border-box;
        padding: 12px 12px;
        border-radius: 0;
        border: 1px solid transparent;
        color: $secondary-color;
        background-color: white;
      }
    }
    .button-submit {
      font-size: 1.3em;
      padding: 10px 20px;
      box-sizing: border-box;
      border: 2px solid $primary-color;
      border-radius: 3px;
      color: $primary-color;
      background-color: $light-base-color;
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        background-color: $primary-color;
        color: $light-base-color;
      }
    }
  }
}

// #endregion

.home-about {
  padding: 20px 20px;
  font-size: 2em;
  color: $light-base-color;
  line-height: 1em;
  a {
    color: $dark-base-color;
  }
}

.subtitle {
  font-size: 1.8em;
  font-weight: bold;
  padding: 15px;
  color: $dark-base-color;
}

// #region gallery
.gallery {
  display: flex;
  padding: 0px 10px;
  box-sizing: border-box;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height:fit-content;
  .gallery-item {
    margin: 0 10px 10px 5px;
  }
}
// #endregion

// #region about us
  .about-info-container {
    color: $secondary-color;
    font-size: 2.5em;
    line-height: 1em;
    .about-info-right {
      display: flex;
      flex-direction: row;
      align-items: center;
      background-image: $gradient-right;
    }
    .about-info-left {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      background-image: $gradient-left;
    }
    .about-info-image {
      flex-basis: 50%;
      box-sizing: border-box;
      padding: 25px;
      img {
        display: block;
        margin: auto;
        width: 100%;
        height: auto;
      }
      .certificate {
        height: 600px;
        width: auto;
      }
    }
    .about-info-text {
      flex-basis: 50%;
      text-align: center;
    }
  }
// #endregion
